po/
src/
pkg/
*.pkg.tar.xz
*.pkg.tar.xz.sig
mingw*/*.tar.xz
*/info
*.swp
*/*/hooks/
*/*/info/
*/*/objects
config
description
FETCH_HEAD
HEAD
packed-refs
exe/
tmp/
*.log*
mingw-w64-extra-cmake-modules/
