po/
src/
pkg/
*.pkg.tar.xz
*.pkg.tar.xz.sig
mingw*/*.tar.xz
*/info
*.swp
*/*/hooks/
*/*/info/
*/*/objects
config
description
FETCH_HEAD
HEAD
packed-refs
exe/
tmp/
*.log*
mingw-w64-extra-cmake-modules/
mingw-w64-PKGBUILD-common/buildall.sh
mingw-w64-PKGBUILD-common/builduploadinstall
kcalc-16.12.3/
kgpg-16.08.0/
kgpg-16.12.3/
kdepim-apps-libs-16.08.0/
akonadi-16.08.0/
mingw-w64-kdelibs4support-qt5/nbproject/
mingw-w64-kirigami2-qt5/
*.bz2
mingw-w64-gpgme-1.9.0/srcbak/build-x86_64-w64-mingw32/config.h
mingw-w64-gpgme-1.9.0/srcbak/
bz.sig
